.logos {
   background-color: #CACACACA;
   border-radius: 25%;
   filter: invert(0);
   transition-duration: 1s;
   transition-property: filter;
   width: 20%;
}

.logos:hover {
   filter:invert(1);
}