.fg-cartNumber {
   background-color: #FFCA00;
   border-radius: 100px;
   color: #353535;
   font-weight: bold;
   padding: 0% 3%;
   position: absolute;
   bottom: 2%;
   left: 36%;
}

.fg-qtyNumber {
   background-color: #FF2D53;
   border-radius: 100px;
   color: #353535;
   font-weight: bold;
   padding: 0% 3%;
   position: absolute;
   bottom: 2%;
   left: 55%;
}