.logos {
   background-color: #CACACACA;
   border-radius: 100px;
   filter: invert(1);
   transition-duration: 1s;
   transition-property: filter;
   width: 40%;
}

.logos:hover {
   filter:invert(0);
}