* {
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
   padding: 0;
}

.header {
   background-color: #353535;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.logo {
   width: 27%;
}

.logo img {
   width: 100%;
}

.search {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 50%;
}

.search .standarInput {
   border-bottom-left-radius: 10px;
   border: 1px solid #FFCA00;
   border-top-left-radius: 10px;
   font-size: 1.5rem;
   height: 4rem;
   padding: 3px;
   width: 60%;
}

.search .searchButton {
   color: #353535;
   background-color: #FFCA00;
   border-bottom-right-radius: 10px;
   border: 1px solid #FFCA00;
   border-top-right-radius: 10px;
   height: 4rem;
   padding: 3px;
   width: 5rem;
}

.search .searchButton:hover {
   color: #e9e9e9;
   background-color: #FF2D53;
   border: 1px solid #FF2D53;
}

.cartUser {
   width:20%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}