.header {
   background-color: #353535;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   position: sticky;
   z-index: 3;
}

.logo {
   background-color: #353535;
   width: 27%;
}

.logo img {
   width: 100%;
}

.search {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 50%;
}

.search .standarInput {
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border: 1px solid #FFCA00;
   font-size: 0.75rem;
   height: 2rem;
   padding: 3px;
   text-align: left;
   width: 50%;
}

.search .searchButton {
   background-color: #FFCA00;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   border: 1px solid #FFCA00;
   color: #353535;
   height: 2rem;
   padding: 3px;
   width: 5rem;
}

.search .searchButton:hover {
   color: #e9e9e9;
   background-color: #FF2D53;
   border: 1px solid #FF2D53;
}

.cartUser {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width:20%;
   position: relative;
}

.cartUser a {
   width: 50%;
   position: relative;
}