.fg-itemCount {
   align-self: center;
   width: fit-content;
}

.fg-itemCommand {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: fit-content;
}

.fg-itemCommand button {
   background: none;
   border: none;
}

.fg-buttonDisabled {
   color: #FF2D53;
}

.fg-itemCommand input {
   background: none;
   border: none;
   font-size: 0.65rem;
   font-weight: bolder;
   text-align: center;
   width: 1.5rem;
}
