.fg-itemCount {
   align-self: center;
   width: fit-content;
}

.fg-itemCommand {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: fit-content;
}

.fg-itemCommand button {
   background: none;
   border: none;
}

.fg-buttonDisabled {
   color: #FF2D53;
}

input {
   height: 2rem;
   text-align: center;
   width: 3rem;
}
