.fg-itemDetail {
   border: 1px solid black;
   border-radius: 15px;
   height: 390px;
   padding: 1%;
   width: 30%;
}

.fg-itemDetailUp {
   display: flex;
   flex-wrap: nowrap;
   margin-bottom: 3%;
   position: relative;
   text-align: left;
}

.fg-backButton {
   color: #FF2D53;
   position: absolute;
   top: -10px;
   left: -10px;
   text-decoration: none;
   z-index: 1;
}

.fg-itemDetailImg {
   margin-right: 3%;
   text-align: left;
   width: 30%;
}

.fg-itemDetailImg img {
   border-radius: 15px;
   height: 100px;
   object-fit: cover;
   width: 100%;
}

.fg-itemdetails {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.fg-itemdetails h4 {
   font-size: 1rem;
}

.fg-itemDetailDescription {
   font-size: 0.8rem;
   text-align: justify;
}

.fg-backButton:hover {
   color: #FFCA00;
}